/* Contact */

/* #Contact {
    background: linear-gradient(60deg, #76b4bd, #bdeaee);
    background: url(background-photo.jpg) center center cover no-repeat fixed;
}
#first img {
    width: 500px;
    height: auto;
    margin-left: 450px;
    display: flex;
}
@media (max-width: 1440px) {
    #first img {
        margin-left: 420px;
        width: 500px;
        height: auto;
    }
}
@media (max-width: 1024px) {
    #first img {
        margin-left: 315px;
        width: 400px;
        height: auto;
    }
}
@media (max-width: 768px) {
    #first img {
        margin-left: 220px;
        width: 320px;
        height: auto;
    }
}

@media (max-width: 425px) {
    #first img {
        margin-left: 0px;
        width: 100%;
        height: auto;
    }
}

@media (max-width: 320px) {
    #first img {
        margin-left: 0px;
        width: 100%;
        height: auto;
    }
}

.row {
    margin-left: 10px;
}
.btn {
    margin-left: 25px;
}

#head {
    text-align: center;

    font-size: larger;
    font-weight: bolder;
    font-size: x-large;
}
#lastline {
    margin-top: 20px;
    font-size: larger;
    margin-left: 30px;
    font-weight: normal; 
} */

body {
    /* background: linear-gradient(to left, rgba(236, 0, 140, .7), rgba(252, 103, 103, .7));*/
    /*   --button-color: rgb(1, 202, 182);  */

    background-color: rgb(151, 96, 198);
}

#Contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main {
    font-family: "Poppins", sans-serif;

    height: 550px;
    width: 70%;
    margin: 5% auto;
    background-color: white;
    border-radius: 15px;
    border: 1px solid white;
    box-shadow: 0 0 5px white;
}

.main .main-right {
    background: url(4limlya.jpg);
    float: right;
    width: 50%;
    height: 400px;
    background-size: cover;
    border-radius: 0 15px 15px 0;
}

.main-right .main-right-content {
    width: 80%;
    margin: auto;
    padding-top: 60px;
    color: black;
}
.main-right .main-right-content i {
    width: 50px;
    text-align: center;
    font-size: 35px;
    margin-right: 10px;
}

.main-right .main-right-content p {
    padding: 25px;
    font-size: 18px;
}

.main .main-left {
    width: 50%;
    height: 400px;
    float: left;
    padding-top: 50px;
}

.main-left form {
    width: 80%;
    margin: auto;
}

form input {
    width: 90%;
    margin: auto;
    padding: 3%;
    margin-bottom: 10px;
    display: block;
    border: none;
    outline: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

form textarea {
    width: 90%;
    margin: 2%;
    padding: 3%;
    border: none;
    resize: none;
    outline: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

form input[type="submit"] {
    width: 30%;
    border: none;
    outline: none;
    background: linear-gradient(to left, rgb(153, 236, 0), rgb(252, 103, 103));
    border-radius: 15px;
    font-weight: bolder;
    color: white;
    font-size: 19px;
    padding: 7px 0;
}

.main-left .main-left-title {
    margin: auto;
    width: 100%;
}

.main-left-title h1 {
    text-align: center;
    padding: 10px;
    color:#000000;
}
.social-links {
    margin: auto;
    color: #000000;
}
.social-links-twitter {
    padding: 30px;
    margin-left: 24px;

    /*new */
    margin-top: 54px;
}

.social-links-facebook {
    padding: 30px;
}
.social-links-instagram {
    padding: 30px;
}
.social-links-linkedin {
    padding: 30px;
}

@media (max-width: 768px) {
    .main {
        height: 1200px;
        width: 80%;
    }
    .main .main-right {
        margin-top: 440px;
        margin-left: 0px;
        float: right;
        position: absolute;
        width: auto;
    }

    .main .main-left {
        margin-top: 40px;
        margin-left: 0px;

        position: absolute;
        width: 80%;
    }

    .social-links {
        margin-top: 950px;
    }
    .social-links-twitter {
        margin-left: 2px;
    }

    .social-links-facebook {
        margin-left: -19px;
    }

    .social-links-linkedin {
      /*  margin-left: 76px;*/

      margin-left: -73px;
    }

    .main-right-content h1{
        margin-left: -35px;
    }
}
