:root {
    --background-color: rgb(151, 96, 198);
    --button-color: rgb(1, 202, 182);
    --text-color: rgb(255, 255, 255);
}

/* Navbar */

.Navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    color: var(--text-color);
    height: 4rem;
    max-height: 5rem;

    position: fixed;
    top: 0;
    width: 100vw;

    transition: all 1s ease;

    font-family: var(--brand-font);

    z-index: 999;
}

.animate-navbar-opacity {
    background-color: var(--background-color);
    box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.5);
}

/* UL Under Navbar */

.Navbar-Nav {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    align-content: center;

    padding: 0.5rem 1rem 0.5rem 0.5rem;

    margin: 0;
    opacity: 1;
}

/* Brand Text*/

.Navbar-Brand {
    display: flex;

    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 0.5rem;

    margin-left: 10rem;

    opacity: 1;
}

/* Heading under Navbar Brand */

.Navbar-Brand h3 {
    font-size: larger;
    font-weight: bold;
}

/* Brand Icon */

.Navbar-BrandIcon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0.5rem;

    opacity: 1;
}

/* Navbar > UL > LI */

.Navbar-Nav-NavItems {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    list-style: none;

    /* margin: 0.5rem; */
    padding: 0.5rem;
}

/* Navbar > UL > LI > A */

.Navbar-Nav-NavItems-Links {
    position: relative;
    color: var(--text-color);
    text-decoration: none;
    transition: all 0.5s;
}

.nounderline {
    text-decoration: none !important;
}

.Navbar-Nav-NavItems-Links:hover {
    text-decoration: none;
    color: var(--button-color);
}

.Navbar-Nav-NavItems-Links::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    -webkit-transform: translateX(-50%) scaleX(0);
    transform: translateX(-50%) scaleX(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    width: 100%;
    height: 2px;
    background-color: var(--button-color);
    transition: transform 250ms;
    -webkit-transition: transform 250ms;
}

.Navbar-Nav-NavItems-Links:hover:after {
    -webkit-transform: translateX(-50%) scaleX(1);
    transform: translateX(-50%) scaleX(1);
}

.Navbar-Nav-NavItems-Links-Icons-hide {
    display: none;
}

/* Navbar > UL > LI > Span */

.Navbar-Nav-NavItems-NavText {
    color: var(--text-color);
    text-align: center;
    text-decoration: none;
}

/* Cover */

#Cover {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    text-align: center;

    height: 100vh;
    width: 100%;
    background: var(--background-color);
}

.Cover-Content-Container,
.Cover-Image-Container {
    flex: 1;
}

.Cover-Image-Container {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 2rem;
}

.Cover-Image {
    width: 75%;
    display: none;
}

.Cover-Content-Container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    text-align: left;

    padding: 10rem;

    font-family: var(--cover-heading-font-2);
}

/* Cover Text */

.Cover-Content-Container-Heading-1 {
    display: block;
    font-size: 3rem;
    letter-spacing: 0.5rem;
    font-weight: bolder;
}

.Cover-Content-Container-Heading-2 {
    display: block;
    font-size: 5rem;
    letter-spacing: 0.5rem;
    font-weight: 900;
}

.Cover-Content-Container-Text {
    letter-spacing: 0.1rem;
    line-height: 1.5rem;
    padding: 1rem 0 1rem 0;
}

#discover-button {
    float: left;
    background-color: var(--button-color);
    color: white;
    text-decoration: none;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 4px;
    transition: all 0.5s;
    text-align: center;

    width: 10rem;
}

#discover-button:hover {
    transform: translateY(-4px);
}

#carousel-container {
    border-radius: 50px;
    box-shadow: 20px 20px 60px #8052a8, -20px -20px 60px #ad6ee4;
}

@media (max-width: 480px) {
    .Navbar {
        width: 95vw;
    }

    .Navbar-Brand {
        display: none;
    }

    #Cover {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 100vw;
    }

    .Cover-Content-Container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        padding: 5rem;
    }

    .Cover-Content-Container-Heading-1 {
        display: block;
        font-size: 1rem;
        letter-spacing: 0.5rem;
        font-weight: bolder;
    }

    .Cover-Content-Container-Heading-2 {
        display: block;
        font-size: 2rem;
        letter-spacing: 0.5rem;
        font-weight: 900;
    }

    .Cover-Content-Container-Text {
        letter-spacing: 0.1rem;
        line-height: 1.5rem;
        padding: 1rem 0 1rem 0;
    }

    #carouselExampleIndicators {
        display: none;
    }

    #Cover-Image {
        display: block;
    }
}
